    <div class="voting">    
      <%= render "voting" %>
    </div>

    <div class="post">

        <div class="post-title">
          <%= link_to post.title, post_path([@post.category, @post]) %>
        </div>

        <div class="post-info">
          <%= render "post_info" %>
        </div>

    </div>