      <%= form_for ([@category, @category.posts.build]) do |f| %> 
        <input type="image" src="/images/up-grey.png" name="up_votes" value=1 alt="Up-Vote">
      </form>
      <% end %>

      <%= form_for ([@category, @category.posts.build]) do |f| %> 
      <input type="image" src="/images/down-grey.png" name="down_votes" value=1 alt="Down-Vote">
      <% end %>