<% @posts.each_with_index do |post, index| %>
  <div class="whole-post">
    <div class="index-number"><%=(index+1)%>.</div>
    <%= render "post_show" %>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path, id: 'new_post_link', remote: true %>


