<p id="notice"><%= notice %></p>

<div class="whole-post">
  <%= render "post_show" %>
</div>

<div class="top-comments">top comments</div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <%= render @post.comments %>
<% end %>

<div class="add-new-comment-box">
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
</div>

